<!DOCTYPE html>
<html>
<head>
  <title>SwimClub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul>
    <% Page.all.each do |page| %>
      <li><%= page.menu_title %></li> 
    <% end %>
  </ul>

<%= yield %>

</body>
</html>
