<!DOCTYPE html>
<html>
<head>
  <title>SwimClub</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs nav-justified navbar-fixed-top">
      <% Page.all.each do |page| %>
        <li><%= link_to page.menu_title, page, class: "btn btn-success" %></li>
      <% end %>  
    </ul>

    <%= yield %>
  </div>
</body>
</html>
